# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Privat\WaniKaniApp\WaniKaniSRSApp\app\src\main\java\org\bemi\wanikanisrsapp\wanikaniAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
